@import url('./vendor/pure-min.css');
@import url('./vendor/grids-responsive-min.css');
@import url('./fonts.css');

*, *:after, *:before{
  box-sizing: border-box;
} 

body {
  font-family: 'Adelle Sans', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #009edb;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 35.5em) {
  .pure-u-0 {
    width: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 35.5em) {
  .pure-u-sm-0 {
    width: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-0 {
    width: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-0 {
    width: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-0 {
    width: 0;
    overflow: hidden;
  }
}
